@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  background-color: #4966a0; /* Matte gray background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container,
.login-container {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 33%;
}

.header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.submit-button {
  background-color: #48bb78; /* Green */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #38a169; /* Darker green */
}

.confirmation-message {
  margin-top: 1rem;
  color: white;
}

.login-button,
.signup-button {
  background-color: #4299e1; /* Blue */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.login-button:hover,
.signup-button:hover {
  background-color: #3182ce; /* Darker blue */
}

.action-link {
  color: #4299e1; /* Blue */
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.action-link:hover {
  color: #3182ce; /* Darker blue */
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.submit-button {
  background-color: #48bb78; /* Green */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #38a169; /* Darker green */
}
.login-container,
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button,
.signup-button {
  background-color: #4299e1; /* Blue */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover,
.signup-button:hover {
  background-color: #3182ce; /* Darker blue */
}

.action-link {
  color: #4299e1; /* Blue */
  cursor: pointer;
  text-decoration: underline;
}

.action-link:hover {
  color: #3182ce; /* Darker blue */
}

.site-title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
}


